@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

#hero {
    font-family: "Orbitron", sans-serif;
    background: no-repeat url("images/galaxy-esa.gif");
    background-size: cover;
    padding: 10px 0 150px 0;
    color: #89b0d3;
    text-align: center;
}

#logo {
    height: auto;
    width: 150px;
    margin: 50px auto 0 auto;
}

#title {
    margin: 0 auto 50px auto;
    text-shadow: 0 0 5px black;
}

.btn {
    padding: 5px 20px;
    font-size: 1.1rem;
    background-color: white;
    border: none;
    font-family: inherit;
    color: #89b0d3;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.underline {
    border-bottom: 4px solid #edf0f3;
    
}

.terms {
    text-align: center;
    padding: 30px;
    font-family: "Orbitron", sans-serif;
    
}

.terms h3 {
    font-weight: 900;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    color: #89b0d3;
}